@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

html {
  background-color: #e8e8e8;
  opacity: 1;
  background: linear-gradient(135deg, #bdbdbd55 25%, transparent 25%) -5px 0/ 10px 10px, 
              linear-gradient(225deg, #bdbdbd 25%, transparent 25%) -5px 0/ 10px 10px, 
              linear-gradient(315deg, #bdbdbd55 25%, transparent 25%) 0px 0/ 10px 10px, 
              linear-gradient(45deg, #bdbdbd 25%, #e8e8e8 25%) 0px 0/ 10px 10px;
}

button {
  all: unset;
  cursor: pointer;
}

html, body, #root, #root > div, #app, #app>div {
  height: 100%
}

/* flex force next row trick https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.break {
  flex-basis: 100%;
  height: 0;
}

.App {
  text-align: left;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.Popout-Container {
  position: absolute;
  margin: 2%;
  border-radius: 15px;
  border: 2px solid #D33D7A;
  background-color: #FEF0EF;
}

.Popout-Container > a {
  margin: 16px 0;
}

.Window-Title-Bar {
  display: flex;
  justify-content: right;
  background-color: #E8C2FF;
  border-bottom: 2px solid #D33D7A;
  border-radius: 15px 15px 0px 0px;
}

.Window-Close-Button {
  border: 2px solid #D33D7A;
  color: #D33D7A;
  background-color: #FEF0EF;
  margin: 6px;
  padding: 0 8px;
  border-radius: 6px;
}

.Window-Content-Area {
  padding: 0 8px;
}

.About-Me {
  top: 0;
  right: 0;
}

.Projects {
  bottom: 10%;
  left: 0;
}

.Contact {
  bottom: 20%;
  right: 0;
}

.Clickable-Icon {
  filter:drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.Clickable-Icon:active {
  filter:drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
}

.Clickable-Icon {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 0 2em 0;
}

.Clickable-Icon > p {
  margin: 0.25em 0 0 0;
  font-size: 18pt;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: black;
}

.Icons-Container {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 2em;
  left: 2em;
}

.Bottom-Bar {
  width: 100%;
  height: 36px;
  padding: 3px;
  border-top: 1px solid #FFFFFF;
  background: #C0C0C0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  justify-items: right;
}

.Bottom-Bar > button {
  padding: 0;
  margin: 0 4px;
}

.Bottom-Bar > div {
  padding: 0 16px;
  margin: 0 4px;
  border-top: 2px solid #808080;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #808080;
}

.Clock {

}

.Clock-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bottom-Bar-Border-Wrapper {
  border-top: 1px solid #DFDFDF;
  position: fixed;
  bottom: 0;
  width: 100%;
}


