@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-color: #feefa5;
}

button {
  all: unset;
  cursor: pointer;
}

html, body, #root, #root > div, #app, #app>div {
  height: 100%
}

/* flex force next row trick https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.break {
  flex-basis: 100%;
  height: 0;
}

.App {
  text-align: left;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.Big-Name {
  color: black;
  font-family: 'Abril Fatface';
  font-style: italic;
  font-size: 15vmax;
  margin: 0 auto 0 2%;
}

.Main-List {
  margin-left: auto;
  margin-top: auto;
  margin: auto 2% 2% auto;
  display: flex;
  flex-flow: column nowrap;
}

.Main-List-Element {
  display: flex;
  filter: blur(5px);
  flex-flow: row nowrap;
  transition: filter 400ms;
}

.Main-List-Element:hover {
  filter: blur(0px);
}

.Main-List-Bullet {
  font-size: 3em;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

.Main-List-Text {
  font-size: 1.75em;
  font-family: 'Poppins';
  vertical-align: middle;
  margin-left: 0.75em;
  transform: translateY(0.5em);
}

@media (prefers-reduced-motion: no-preference) {
  .Main-List-Bullet {
    animation: spin infinite 2s linear;
  }
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(360deg); 
  }
}

.Popout-Container {
  position: absolute;
  margin: 2%;
  padding: 0 1em 0.5em 1em;
  border-radius: 20px;
}

.Popout-Container > a {
  margin: 16px 0;
}

.About-Me {
  background-color: rgba(215, 69, 69, 0.563);
  top: 0;
  right: 0;
}

.Projects {
  background-color: rgba(53, 165, 85, 0.563);
  bottom: 0;
  left: 0;
}

.Contact {
  background-color: rgba(139, 126, 232, 0.519);
  top: 20%;
  right: 0;
}
